p{
    background-color: purple;
}
#parrafo2{
    color: white;
    font-size: 20px;
}
.colorearGrande{
    font-size: 60px;
    color: cyan;
}
.rojo{
    color: red;
}
.grande{
    font-size: 80px;
}